@font-face {
    font-family: 'PacificoRegular';
    src: url('fonts/Pacifico-webfont.eot');
    src: url('fonts/Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Pacifico-webfont.woff') format('woff'),
         url('fonts/Pacifico-webfont.ttf') format('truetype'),
         url('fonts/Pacifico-webfont.svg#PacificoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'HamburgerHeavenRegular';
    src: url('fonts/HAMBH___-webfont.eot');
    src: url('fonts/HAMBH___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/HAMBH___-webfont.woff') format('woff'),
         url('fonts/HAMBH___-webfont.ttf') format('truetype'),
         url('fonts/HAMBH___-webfont.svg#HamburgerHeavenRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-CondensedItalic';
    src: url('fonts/Roboto-CondensedItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Italic';
    src: url('fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-ThinItalic';
    src: url('fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header a{
	text-decoration:none;
	color:#046380;
}



body
{
	font-family: 'Roboto-Light','Trebuchet MS', Arial, sans-serif;

}

body::before {
	content: "";
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	z-index: 100;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
}

#page{
    width: 945px;
    margin: auto;
}

section h1, nav a
{
    font-weight: normal;
    
}
header{
	margin-top:20px;
	border-bottom:1px solid #CCCCCC;
	margin-bottom:20px;
}
header h1
{
	font-size:3.7em;
	font-family:Roboto-Thin,Arial, sans-serif;
    margin-bottom: 0px;
	margin-top: 0px;
/*	text-shadow: 3px 3px 2px #cccccc;
	filter: dropshadow(color=#cccccc, offx=3, offy=3);*/

}
#maintitle
{
	display: inline-block;
	margin-left:15px;
}

nav
{
	margin-top: 15px;
    display: inline-block;
	text-align:right;
	float: right;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.1em;
    color: gray;
    text-decoration: none;
	padding:5px;
	text-transform: uppercase;
}

nav a:hover
{
    color:black;
}

article, #whoami
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}
article a{
	color:black;
}
article a:hover{
	text-decoration: none;
}

#whoami a{
	color:white;
}

#whoami a:hover{
	text-decoration: none;
}

article
{
	width:550px;
	margin-left:30px;
}

article h1{
	border-bottom:1px solid #cccccc;
	padding-bottom:10px;
}

#networks{
	margin-top:40px;
	text-align:center;
}

#networks a img:hover{
	opacity:0.8;

}

#networksbox{
	display:inline-block;
	padding:15px;
	padding-top:50px;
	padding-bottom:50px;
	background-color:#006D80;
	border-radius:70px;
	-webkit-border-radius: 70px;
	-webkit-box-shadow: 3px 3px 3px 3px rgba(3, 3, 3, 0.3);
	box-shadow: 3px 3px 3px 3px rgba(3, 3, 3, 0.3);
}

#arrow
{
    position: absolute;
    top: 100px;
    left: -12px;
}

#whoami
{
	-webkit-box-shadow: 3px 3px 3px 3px rgba(3, 3, 3, 0.3);
	box-shadow: 3px 3px 3px 3px rgba(3, 3, 3, 0.3);
	-webkit-border-radius: 40px 0px 40px 0px;
	border-radius: 40px 0px 40px 0px;
	position:relative;
    width: 200px;
    background-color: #006D80;
    padding: 20px;
    color: white;
    font-size: 0.9em;
}

#whoami h1{
text-transform: uppercase;


}

#picture{
	text-align:center;	
}

#picture img{
	-webkit-box-shadow: 2px 2px 2px 2px rgba(2, 2, 2, 0.1);
	box-shadow: 2px 2px 2px 2px rgba(2, 2, 2, 0.1);
}

#box{
	padding:30px;
	-webkit-box-shadow:  2px 2px 2px 2px rgba(3, 3, 3, 0.2);
	box-shadow:  2px 2px 2px 2px rgba(3, 3, 3, 0.2);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color:#E9E9E9;
	min-height:400px;
	
}

footer{
	border-top:1px solid #CCCCCC;
	margin-top:30px;
	text-align:center;
	font-size:0.7em;
}

img{
	border:none;

}

.current a{
	background-color:#006D80;
	color:white;
	-webkit-border-radius: 15px 0px 15px 0px;
	border-radius: 15px 0px 15px 0px;
}

.current a:hover{
	color:white;
	-webkit-box-shadow: 2px 2px 2px 2px rgba(2, 2, 2, 0.2);
	box-shadow: 2px 2px 2px 2px rgba(2, 2, 2, 0.2);
}

.topsection h1{
	margin-top: 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding:5px;
	padding-left:30px;
	background-color:#006D80;
	color:white;
	-webkit-border-radius: 3px;
	border-radius: 20px 0px 20px 0px;
}

.projecticon{
	text-align:center;
}

.project{
	background-color:white;
	-webkit-border-radius: 40px 3px 3px 3px;
	border-radius: 40px 3px 3px 3px;
	-webkit-box-shadow: 2px 2px 2px 2px rgba(2, 2, 2, 0.1);
	box-shadow: 2px 2px 2px 2px rgba(2, 2, 2, 0.1);
	margin-bottom:30px;
}

.project aside{
	padding:10px;
	display: inline-block;
	color:white;
	width: 200px;
	-webkit-border-radius: 40px 0px 40px 0px;
	border-radius: 40px 0px 40px 0px;
	background-color:#006D80;
	font-size: 0.8em;

}

.project aside ul{
	padding:0px;
	padding-left:20px;
	

}

.project aside a{
	color:white;
}

.project aside a:hover{
	text-decoration: none;
}

.project article{
	display: inline-block;
	

}

.project article p{
	font-size:0.9em;
	

}

.articleimg, .articlescreenshot{
	text-align:center;
}

.articleimg img, .articlescreenshot img{
	margin-left:5px;
	margin-right:5px;
}

.articlescreenshot img:hover{
	opacity:0.6;
}

#contact{
	text-align: center;
	font-size: 0.9em;
	padding-bottom: 10px;
}


.contactbox{
	width: 190px;
	display:inline-block;
	text-align: center;
	color: white;
	padding:15px;
	padding-top:52px;
	padding-bottom:52px;
	background-color:#006D80;
	border-radius:120px;
	-webkit-border-radius: 120px;
	-webkit-box-shadow: 3px 3px 3px 3px rgba(3, 3, 3, 0.3);
	box-shadow: 3px 3px 3px 3px rgba(3, 3, 3, 0.3);
}

#contactspace{
	display: inline-block;
	width: 200px;
}

#contact ul{
	padding-left: 0;
	list-style: none;
}

.categorie{
	padding-bottom: 10px;
	font-size: 0.9em;
	margin-bottom:20px;
}

.categorie ul{
	padding-right: 40px;
	list-style-image: url('img/list.png');
}

.date{
	font-weight: bold;
}

.noaside
{
	text-align: left;
	width: auto;
	margin-left: auto;
    display: block;
}