header a{
	text-decoration:none;
	color:#046380;
}


body
{
	color: #222;
  	font-family: Roboto,sans-serif;
	font-weight: 400;
  	letter-spacing:0.1;
  	font-size:13px;
}

body::before {
	content: "";
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	z-index: 100;
}

#page{
    width: 900px;
    margin: auto;
}

section h1, nav a
{
    font-weight: normal;
    
}
header{
	margin-top:20px;
	margin-bottom:20px;
}
header h1
{
	font-size:4em;
	color: #7c3b7a;
	font-family: Roboto, sans-serif;
    margin-bottom: 0px;
    font-weight: 100;
	margin-top: 0px;
}
header h3 {
	margin-top: 0px;
	font-style: italic;
}
#maintitle
{
	margin-top: 20px;
	display: inline-block;
}

nav
{
	margin-top: 15px;
	float: right;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.2em;
    color: gray;
    text-decoration: none;
	padding:5px;
	text-transform: uppercase;
}

nav a:hover
{
    color:black;
}

.categorie, #whoami
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}
.categorie a{
	color:black;
}
.categorie a:hover{
	text-decoration: none;
}

#whoami a{
	color:white;
}

#whoami a:hover{
	text-decoration: none;
}

.categorie
{
	width:550px;
	margin-left:30px;
}

.categorie h1{
	border-bottom:1px solid #cccccc;
	padding-bottom:10px;
	color : #7c3b7a;
	font-size: 18px;
}

.categorie h1 small{
	color: #777777;
}

#networks{
	margin-top:40px;
	text-align:center;
}

#networks a img:hover{
	opacity:0.8;

}

#networksbox{
	display:inline-block;
	padding:15px;
	padding-top:50px;
	padding-bottom:50px;
	background-color:#7c3b7a;
	border-radius:70px;
	-webkit-border-radius: 70px;
}

#whoami
{
	-webkit-border-radius: 40px 0px 40px 0px;
	border-radius: 40px 0px 40px 0px;
	position:relative;
    width: 200px;
    background-color: #7c3b7a;
    padding: 20px;
    color: white;
}

#whoami h1{
text-transform: uppercase;


}

#picture{
	text-align:center;	
}

#box{
	display: inline-block;
	max-width: 320px;
	padding:30px;
	padding-top: 10px;
	float: right;
}

footer{
	border-top:1px solid #CCCCCC;
	margin-top:30px;
	text-align:center;
}

img{
	border:none;

}

.current a{
	background-color:#7c3b7a;
	color:white;
	-webkit-border-radius: 15px 0px 15px 0px;
	border-radius: 15px 0px 15px 0px;
}

.current a:hover{
	color:white;
}

.topsection h1{
	margin-top: 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding:5px;
	padding-left:30px;
	background-color:#7c3b7a;
	color:white;
	-webkit-border-radius: 3px;
	border-radius: 20px 0px 20px 0px;
}

.projecticon{
	text-align:center;
}

.project{
	background-color:white;
	-webkit-border-radius: 40px 0px 0px 0px;
	border-radius: 40px 0px 0px 0px;
	margin-bottom:30px;
}

.project aside{
	padding:10px;
	display: inline-block;
	color:white;
	width: 200px;
	-webkit-border-radius: 40px 0px 40px 0px;
	border-radius: 40px 0px 40px 0px;
	background-color:#7c3b7a;

}

.project aside ul{
	padding:0px;
	padding-left:20px;
}

.project aside a{
	color:white;
}

.project aside a:hover{
	text-decoration: none;
}

.project article{
	display: inline-block;
	

}

.articleimg, .articlescreenshot{
	text-align:center;
}

.articleimg img, .articlescreenshot img{
	margin-left:5px;
	margin-right:5px;
}

.articlescreenshot img:hover{
	opacity:0.6;
}

#contact{
	text-align: center;
	padding-bottom: 10px;
}
h4 {
	margin: 0.5em;
}

.contactbox{
	width: 190px;
	display:inline-block;
	text-align: center;
	color: white;
	padding:15px;
	padding-top:48px;
	padding-bottom:48px;
	background-color:#7c3b7a;
	border-radius:120px;
	-webkit-border-radius: 120px;
	font-size: 14px;
	font-weight: bold;
}

.contactbox-left {
	margin-right: 200px;
}

#contact ul{
	padding-left: 0;
	list-style: none;
}

.categorie{.
	margin-bottom:10px;
	text-align: left;
	width: auto;
	margin-left: auto;
    display: block;
}

.categorie ul{
	padding-right: 40px;
	list-style-image: url('../img/list2.png');
}
.website {
	font-size: 18px;
	font-weight: 400;
}
.mail {
	font-size: 13px;
}

.date{
	font-weight: bold;
	font-size: 14px;
}
.date small {
	font-weight: normal;
	color: #777777;
}
.place {
	font-style:italic;
	font-size: 14px;
}

.noaside
{
	text-align: left;
	width: auto;
	margin-left: auto;
    display: block;
}

.description {
	font-size: 13px;
	display: inline-block;
}

.categorie li {
	margin-bottom: 5px;
}

#aim {
	margin-top: 20px;
	margin-bottom: 60px;
	font-size: 16px;
}